/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

html {
    position: relative;
    min-height: 100%;
    background-image: url('city2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain; /* or auto */
    background-color: #2e363f;
  }
  
html::before {
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* 调整透明度和颜色 */
z-index: -1;
}

html {
    overflow: auto;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
}


#scroll-progress {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 6px;
background-color: transparent;
z-index: 9999;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* 滾動條背景色 */
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.547);
  }
  
  /* 滾動條手柄的顏色 */
  ::-webkit-scrollbar-thumb {
    background-color: mediumturquoise;
  }

  li,
a,
button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    justify-content: right;
}


/* nav bar */

.nav_links {
    border: 2px solid pink;
    padding: 10px;
    list-style: none;
    margin-right: 150px;
    position: fixed;
    left: 70%; 
    z-index: 9999; /* 设置较高的 z-index 值 */
    background-color:  rgba(0, 0, 0, 0.547); 
}

.nav_links li {
    display: inline-block;
    padding: 0 10px;
    background-color: transparent;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-size: large;
    background-color: transparent;
}

.nav_links li a:focus {
    outline: none;
}

.nav_links li a:hover {
    color: pink;
}

@media screen and (max-width: 768px) {

    header{
      margin-bottom: 30%;
    }


    .nav_links li {
        display: block;
        padding: 10px 0;
        margin-right: 10px;
    }

    .nav_links {
        border: 2px solid pink;
        padding: 10px;
        list-style: none;
        margin-right: auto;
    }

}